<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section},~{::title})">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VangoGames-The Gaming Platform</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <section class="container homeContainer"
    style="display: flex; justify-content: center; align-items: center; height:80.3vh;">
    
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" style="height:70vh; width:80vw">
        <div class="carousel-item active h-100" data-bs-interval="10000">
          <img th:src="@{icon_images/5th.gif}" class="d-block w-100 h-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h3 class="myh3 text-light" style="font-weight: 1000;">Get Started: Register Now!</h3>
            <p class="myp" style="margin-bottom: 2px; color:white; font-weight: 800;">Unlock a world of exclusive features by registering on our
              platform. Join our growing community and enjoy</p>
            <p class="myp" style="color:white; font-weight: 800;">Personalized gaming experience tailored to your preferences.</p>
            <div class="container text-center my-2">
              <a class="btn btn-sm btn-primary" th:unless="${session.CurrentUser}"
                onclick="registerRedirection()">Register Now</a>
            </div>
          </div>
        </div>
        <div class="carousel-item h-100" data-bs-interval="2000">
          <img th:src="@{icon_images/fourth.gif}" class="d-block w-100 h-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h3 class="myh3 text-light" style="font-weight: 1000;">Get Started: Register Now!</h3>
            <p class="myp" style="margin-bottom: 2px; color:white; font-weight: 800;">Unlock a world of exclusive features by registering on our platform. Join our growing community and enjoy</p>
            <p class="myp" style="color:white; font-weight: 800;">Access to a wide variety of games across genres.</p>
            <div class="container text-center my-2">
              <a class="btn btn-sm btn-primary" th:unless="${session.CurrentUser}"
                onclick="registerRedirection()">Register Now</a>
            </div>
          </div>
        </div>
        <div class="carousel-item h-100">
          <img th:src="@{icon_images/2nd.gif}" class="d-block w-100 h-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h3 class="myh3 text-light" style="font-weight: 1000;">Get Started: Register Now!</h3>
            <p class="myp" style="margin-bottom: 2px; color:white; font-weight: 800;">Unlock a world of exclusive features by registering on our
              platform. Join our growing community and enjoy</p>
            <p class="myp" style="color:white; font-weight: 800;">Participation in exciting events, tournaments, and contests.</p>
            <div class="container text-center my-2">
              <a class="btn btn-sm btn-primary" th:unless="${session.CurrentUser}"
                onclick="registerRedirection()">Register Now</a>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
</body>

</html>